<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="connection"
        label="COM_JSOLR_CONFIG_CONNECTION_LABEL"
        description="COM_JSOLR_CONFIG_CONNECTION_DESC">
        <field
            name="url"
            type="text"
            label="COM_JSOLR_CONNECTION_URL_LABEL"
            size="45"/>
        <field
            name="username"
            type="text"
            label="COM_JSOLR_CONNECTION_USERNAME_LABEL"
            size="45"/>
        <field
            name="password"
            type="text"
            label="COM_JSOLR_CONNECTION_PASSWORD_LABEL"
            size="45"/>

        <field
            type="spacer"
            hr="true"/>

        <field
            name="connection2"
            type="radio"
            class="btn-group btn-group-yesno"
            default="0"
            label="COM_JSOLR_CONNECTION2_ENABLE_LABEL"
            description="COM_JSOLR_CONNECTION2_ENABLE_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
            name="url2"
            type="text"
            label="COM_JSOLR_CONNECTION2_URL_LABEL"
            showon="connection2:1"
            size="45"/>
        <field
            name="username2"
            type="text"
            label="COM_JSOLR_CONNECTION2_USERNAME_LABEL"
            showon="connection2:1"
            size="45"/>
        <field
            name="password2"
            type="text"
            label="COM_JSOLR_CONNECTION2_PASSWORD_LABEL"
            showon="connection2:1"
            size="45"/>
    </fieldset>

    <fieldset
        name="index"
        label="COM_JSOLR_CONFIG_INDEX_LABEL"
        description="COM_JSOLR_CONFIG_INDEX_DESC">
        <field
            name="autocommit"
            type="radio"
            label="COM_JSOLR_INDEX_AUTOCOMMIT_LABEL"
            description="COM_JSOLR_INDEX_AUTOCOMMIT_DESC"
            default="0"
            class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="commitWithin"
            type="text"
            label="COM_JSOLR_INDEX_COMMITWITHIN_LABEL"
            description="COM_JSOLR_INDEX_COMMITWITHIN_DESC"
            default="1000"
            filter="integer"
            showon="autocommit:0"
            size="4"/>
        <field
            type="spacer"
            hr="true"/>
        <field
            name="commitLimit"
            type="text"
            label="COM_JSOLR_INDEX_COMMITLIMIT_LABEL"
            description="COM_JSOLR_INDEX_COMMITLIMIT_DESC"
            default="1000"
            filter="integer"
            size="9"/>
        <field
            name="facetSeparator"
            type="text"
            label="COM_JSOLR_INDEX_FACET_SEPARATOR_LABEL"
            description="COM_JSOLR_INDEX_FACET_SEPARATOR_DESC"
            default="||||"
            filter="string"
            size="4"/>
    </fieldset>

    <fieldset
        name="search"
        label="COM_JSOLR_CONFIG_SEARCH_LABEL"
        description="COM_JSOLR_CONFIG_SEARCH_DESC">
        <field
            name="fq_access"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_JSOLR_SEARCH_FQ_ACCESS_LABEL"
            description="COM_JSOLR_SEARCH_FQ_ACCESS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
            name="mm"
            type="text"
            label="COM_JSOLR_SEARCH_MM_LABEL"
            description="COM_JSOLR_SEARCH_MM_DESC"
            default="1"/>

        <field
            name="qf"
            type="text"
            label="COM_JSOLR_SEARCH_QF_LABEL"
            description="COM_JSOLR_SEARCH_QF_DESC"
            default="_text_ title_txt_*^100 author^75 content_txt_*^50"/>

        <field
            name="hl"
            type="text"
            label="COM_JSOLR_SEARCH_HL_LABEL"
            description="COM_JSOLR_SEARCH_HL_DESC"
            default="_text_ title_txt_* author content_txt_*"/>

        <field
            name="fq"
            type="text"
            label="COM_JSOLR_SEARCH_FQ_LABEL"
            description="COM_JSOLR_SEARCH_FQ_DESC"/>

        <field
            name="pf"
            type="text"
            label="COM_JSOLR_SEARCH_PF_LABEL"
            description="COM_JSOLR_SEARCH_PF_DESC"/>

        <field
            name="ps"
            type="number"
            default="0"
            min="0"
            max="1000"
            label="COM_JSOLR_SEARCH_PS_LABEL"
            description="COM_JSOLR_SEARCH_PS_DESC"/>

        <field
            name="qs"
            type="number"
            default="0"
            min="0"
            max="1000"
            label="COM_JSOLR_SEARCH_QS_LABEL"
            description="COM_JSOLR_SEARCH_QS_DESC"/>

        <field
            name="tie"
            type="number"
            default="0.0"
            min="0.0"
            max="1.0"
            step="0.01"
            label="COM_JSOLR_SEARCH_TIE_LABEL"
            description="COM_JSOLR_SEARCH_TIE_DESC"/>

        <field
            name="bq"
            type="text"
            label="COM_JSOLR_SEARCH_BQ_LABEL"
            description="COM_JSOLR_SEARCH_BQ_DESC"/>

        <field
            name="bf"
            type="text"
            label="COM_JSOLR_SEARCH_BF_LABEL"
            description="COM_JSOLR_SEARCH_BF_DESC"/>

        <field
            name="uf"
            type="text"
            label="COM_JSOLR_SEARCH_UF_LABEL"
            description="COM_JSOLR_SEARCH_UF_DESC"/>

        <field
            name="pf2"
            type="text"
            label="COM_JSOLR_SEARCH_PF2_LABEL"
            description="COM_JSOLR_SEARCH_PF2_DESC"/>

        <field
            name="pf3"
            type="text"
            label="COM_JSOLR_SEARCH_PF3_LABEL"
            description="COM_JSOLR_SEARCH_PF3_DESC"/>

        <field
            name="ps2"
            type="number"
            default="0"
            min="0"
            max="1000"
            label="COM_JSOLR_SEARCH_PS2_LABEL"
            description="COM_JSOLR_SEARCH_PS2_DESC"/>

        <field
            name="ps3"
            type="number"
            default="0"
            min="0"
            max="1000"
            label="COM_JSOLR_SEARCH_PS3_LABEL"
            description="COM_JSOLR_SEARCH_PS3_DESC"/>

        <field
            name="boost"
            type="text"
            label="COM_JSOLR_SEARCH_BOOST_LABEL"
            description="COM_JSOLR_SEARCH_BOOST_DESC"/>
    </fieldset>

    <fieldset
        name="searchdisplay"
        label="COM_JSOLR_CONFIG_SEARCHDISPLAY_LABEL"
        description="COM_JSOLR_CONFIG_SEARCHDISPLAY_DESC">
        <field
            name="advanced_link"
            type="list"
            label="COM_JSOLR_SEARCHDISPLAY_ADVANCED_LINK_LABEL"
            description="COM_JSOLR_SEARCHDISPLAY_ADVANCED_LINK_DESC"
            class="inputbox"
            default="1">
            <option value="0">COM_JSOLR_SEARCHDISPLAY_ADVANCED_LINK_NEVER</option>
            <option value="1">COM_JSOLR_SEARCHDISPLAY_ADVANCED_LINK_AS_A_LINK</option>
            <option value="2">COM_JSOLR_SEARCHDISPLAY_ADVANCED_LINK_AS_A_DIMENSION</option>
        </field>

        <field
            name="embedfacets"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_JSOLR_SEARCHDISPLAY_EMBEDFACETS_LABEL"
            description="COM_JSOLR_SEARCHDISPLAY_EMBEDFACETS_DESC">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
            name="aliases"
            type="textarea"
            label="COM_JSOLR_SEARCHDISPLAY_ALIASES_LABEL"
            description="COM_JSOLR_SEARCHDISPLAY_ALIASES_DESC"
            hint="COM_JSOLR_SEARCHDISPLAY_ALIASES_PLACEHOLDER"/>
    </fieldset>
</config>
