#jsolrSearchResults > ol {
	margin-left: 0;	
}

#jsolrSearchResults > ol > li {
	list-style: none;	
}

#jsolrSearchResults .active {
	font-weight: bold;
}

#custom-dates {
	display: none;
}

#custom-dates.show {
	display: block;
}