@CHARSET "UTF-8";

/**
 * Legacy dropdown styles for Joomla 2.5.
 * 
 * You will need to include this file in your template override if you require 
 * this functionality in your Joomla! 2.5 site but it is recommended you use 
 * Bootstrap for dropdown menus if you are running JSolr on a Joomla! 3.x site.
 * 
 * If you are using Joomla! 2.5 you will need to configure your JSolr Dropdown 
 * Form Field (or any field derived from the JSolr Dropdown) with the class 
 * "jsolr-dropdown". Alternatively, to use the Bootstrap dropdown, use 
 * "dropdown". 
 */

.jsolr-dropdown {
	display:inline-block;
	height: 2em;
	width:200px;
	position:relative;
	background-color: #f9f9f9;
}

.jsolr-dropdown > .dropdown-toggle {
	margin:0px;
	border:0px;
	background-color: transparent;
	width:100%;
	height:100%;
	text-align: center;
	display:block;
	cursor: pointer;
	line-height: 2em;
	color: #777;
	font-weight: 700;
}

.jsolr-dropdown > .label:hover {
	color: #222;
}

.jsolr-dropdown > ul {
	position: absolute;
	z-index: 1000;
	height:1.5em;
	min-width: 100%;
	top: 0px;
	display:none;
}

.jsolr-dropdown > ul > li {
	display:none;
	height: 1.5em;
	line-height:1.5em;
	cursor: pointer;
	padding: 0px 5px 0px 15px;
}

.jsolr-dropdown-active ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 2px 4px #D6D6D6;
    color: #333333;
    padding-bottom: 5px;
    padding-top: 5px;
	height:auto;
	top: 90%;
	display:block;
}

.jsolr-dropdown-active > ul > li {
	padding: 6px 30px 6px 30px;
}

.jsolr-dropdown-active > ul > li.active {
	font-weight: 700;
	color:#000;
}

.jsolr-dropdown-active > ul > li,
.jsolr-dropdown-active > ul > li > a {
	display:block;
}

.jsolr-dropdown-active > ul > li:hover {
	background-color: #f4f4f4;		
}