@CHARSET "UTF-8";

/**
 * Legacy dropdown styles for Joomla 2.5.
 * 
 * You will need to include this file in your template override if you require 
 * this functionality in your Joomla! 2.5 site but it is recommended you use 
 * Bootstrap for dropdown menus if you are running JSolr on a Joomla! 3.x site.
 * 
 * If you are using Joomla! 2.5 you will need to configure your JSolr Dropdown 
 * Form Field (or any field derived from the JSolr Dropdown) with the class 
 * "jsolr-dropdown". Alternatively, to use the Bootstrap dropdown, use 
 * "dropdown". 
 */

.jsolr-searchtool {
	display:inline-block;
	height: 2em;
	width:200px;
	position:relative;
	background-color: #f9f9f9;
}

.jsolr-searchtool > a {
	margin:0px;
	border:0px;
	background-color: transparent;
	width:100%;
	height:100%;
	text-align: center;
	display:block;
	cursor: pointer;
	line-height: 2em;
	color: #777;
	font-weight: 700;
}

.jsolr-searchtool > ul {
	position: absolute;
	z-index: 1000;
	height:1.5em;
	min-width: 100%;
	display:none;
	padding: 5px 0 !important;
	margin: 0;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0 2px 4px #D6D6D6;
    color: #333333;
	height: auto;
	top: 90%;	
}

.jsolr-searchtool > ul > li {	
	list-style: none;
}

.jsolr-searchtool > ul > li > a {
	display: block;
	padding: 0 5px;
}

.jsolr-searchtool > ul.open {
	display:block;	
}

.jsolr-searchtool > ul.open > li.active {
	color: #222;	
}