#main .jsolr-search-result-form ul, #main .jsolr-search-result-form li {
	display: block;
}
#main ul.nav {
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;
	background-color: #e7e5e5;
}
#main ul.nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}
/* main level link */
#main ul.nav a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
}
/* main level link hover */
#main ul.nav .current a, #main ul.nav li:hover > a {
}
/* sub levels link hover */
#main ul.nav ul li:hover a, #main ul.nav li:hover li a {
	background: none;
	border: none;
}
#main ul.nav ul a:hover {
	color: #000 !important;
}
/* level 2 list */
#main ul.nav ul {
	background-color: #aaa;
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 1000;
}
/* dropdown */
#main ul.nav li:hover > ul {
	display: block;
}
#main ul.nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#main ul.nav ul a {
	font-weight: normal;
}
/* level 3+ list */
#main ul.nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#main ul.nav ul li:first-child > a {
}
#main ul.nav ul li:last-child > a {
}
/* clearfix */
#main ul.nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#main ul.nav {
	display: inline-block;
}
html[xmlns] #main ul.nav {
	display: block;
}
* html #main ul.nav {
	height: 1%;
}

#main ul.nav-more {
	width: auto;
	height: auto;
	border-radius: 0;
	background-color: transparent;
	padding: 0px;
}

#main ul.nav-more a {
	padding: 0px;
	margin: 0px;
}

#main ul.nav-more li{
	width: auto;
	height: auto;
	text-align: center;
	background-color: transparent;
	padding: 0;
}

#main ul.nav-more ul.more-list {
	margin-top: -15px;
	width: 100px;
	text-align: center;
	padding: 5px;
	padding-left: 10px; 
}

#main ul.nav-more ul.more-list li {
	text-align: center;
}

#main span.more {
	width:0px;
	height:0px;
	position:relative; 
	top:10px;
	border-left:50px solid transparent;
	border-top:50px solid black;
	border-right:50px solid transparent;
	border-bottom:50px solid transparent;
	border-width: 5px;
}