@border_color: #E3E3E3;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#main{
	.jsolr-hidden {
		display: none;
	}
	.jsolr-clear {
	  clear: both;
	}

	.jsolr-search-result-form ul, .jsolr-search-result-form li {
	    list-style-type: none;
	}

	.jsolr-search-result-form ul.dropdown-menu {
	    padding: 0;
	    margin: 0;
	}

	.jsolr-search-result-form .jrange-custom span {
	    display: none;
	}

	.jsolr-search-result-form .jrange-custom span.add-on {
	    display: inline;
	}

	.jsolr-result {
	    background-color: #F5F5F5;
	    border: 1px solid @border_color;
	    .rounded-corners;
	    margin-bottom: 5px;
	    padding: 10px;
	}

	.jsolr-pagination {
	    text-align: center;
	}
	.jsolr-pagination ul li {
	  float:left;
	  margin: 0;
	  padding: 0;
	}

	.pull-left {
	  float: left;
	}

	.btn-group .btn {
	  height: 20px;
	  padding: 5px;
	}
	.jsolr-option-current {
	   padding-left: 20px;
	   font-weight: bold;
	}

	.jsolr-search-result-form ul.nav li select {
	  width: 100%;
	}

	#jsolr-search-tools {
	  border: 1px solid @border_color;
	}

	.jsolr-search-result-form .main-search {
	  margin-bottom: 10px;
	}

	.jsolr-search-result-form .main-search ul {
	  padding: 0;
	  margin: 0;
	}

	.jsolr-search-result-form .btn-group, #jsolr-search-tools-list, .jsolr-results {
	  margin-top: 20px;
	}

	.jsolr-module-filter a.jrange-option-selected {
	  color: black;
	}

	#jsolr-facet-filters-selected .jsolr-del {
	    width: 10px;
	    height: 10px;

	    a:hover {
	    	background: transparent;
	    }
	}

	#jsolr-facet-filters-selected ul, #jsolr-facet-filters-selected ul li {
	  display: block;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}

	#jsolr-facet-filters-selected ul li {
	  float: left;
	  margin-right: 5px;
	  border: 1px solid silver;
	  padding: 5px;
	  .rounded-corners;
	}

	#jsolr-facet-filters-selected .jsolr-label {
	  font-weight: bold;
	}

	#jsolr-facet-filters-selected .jsolr-value {
	  font-style: italic;
	}

	.to-delete {
		color: red;
		border-color: red;
	}
}
